<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel e-Xpense</title>

    <link href='../css/bootstrap/bootstrap.min.css' rel='stylesheet'>
    <link href='../css/main.css' rel='stylesheet'>


    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->

    <!-- jQuery -->
    <!--<script src="/js/jquery/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>

<div class="main-container">
    <div class="row main-navbar">
        <nav class="menu navbar">
            <ul class="active">
                <li class="current-item"><a href="#" class="btn btn-lg btn-default" id="home">
                    <div class="main-btn">Domov</div>
                </a></li>
                <li><a href="user/list-all.html" class="btn btn-lg btn-default">
                    <div class="main-btn">Moji nalogi</div>
                </a></li>
                <li><a href="../messages.html" class="btn btn-lg btn-default">
                    <div class="main-btn">Sporočila</div>
                </a></li>
                <li><a href="#" class="btn btn-lg btn-default">
                    <div class="main-btn">Arhiv</div>
                </a></li>
                <li><a data-toggle="tooltip" title="Pomoč na poti" class="btn btn-lg btn-default" id="globe"
                       href="map.html">
                    <i class="glyphicon glyphicon-globe blue"></i>

                </a></li>

            </ul>


            <a class="toggle-nav" href="#">&#9776;</a>

            <div class="profile">
                <div class="logo"></div>
                <a href="../../index.html" class="btn btn-xs btn-default">
                    <div class="edit-profile-btn">Odjava</div>
                </a>

            </div>
        </nav>

    </div>

    <div class="row dashboard-content">

        <div class="box col-md-2 col-lg-2 col-sm-3">
            <div class="dashboard-portlet">
                <div class="map-header" >
                    <h2> Filtriranje</h2>

                </div>
                <div class="box-content box" id="moznosti">
                    <div class="input-group-vertical">

                        <div class="map-checkbox check">
                            <input type="checkbox"  checked class="request-filter-user">
                            Nalogi
                        </div>

                        <div class="map-checkbox check">
                            <input type="checkbox" checked class="request-filter-user">
                            Zahtevki
                        </div>

                        <div class="map-checkbox check">
                            <input type="checkbox" checked class="request-filter-user">
                            Sporočila
                        </div>
                        <div class="no-border search">
                            <input type=search placeholder="Po ključni besedi.." class="filterTableString" id="archiveTable">
                        </div>



                    </div><!-- /input-group -->
                </div>
            </div>
            <!--/span-->

        </div>
        <div class="col-md-10 col-lg-10 col-sm-9">
            <div class="dashboard-portlet">
                <div class="map-header">
                    <h2><i class="glyphicon glyphicon-compressed"></i> Arhiv</h2>

                </div>
                <div class="content-inner">
                    <div class="content-table section msgs status">
                        <table class="archiveTable table">
                            <thead>
                            <tr>
                                <th style="width: 50%;">Ključne besede</th>
                                <th style="width: 15%;">Tip</th>
                                <th style="width: 20%;">Datum</th>
                                <th style="width: 5%;">Akcija</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="collapsable" data-status="2">
                                <td><i class="glyphicon glyphicon-chevron-up small"></i> Janez Novak, pot, avstralija</td>
                                <td>Sporočilo</td>
                                <td>12.11.2012</td>
                                <td>
                                    <a class="btn btn-primary btn-sm open-connected">Odpri zunaj</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="msg-content"><p>Povračilo stroškov je bilo izvršeno. enean massa.
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                                    consequat massa quis enim. </p></td>
                            </tr>



                            <tr class="collapsable" data-status="1">
                                <td><i class="glyphicon glyphicon-chevron-up small"></i> Nemčija, ICT, 2015</td>
                                <td>Zahtevek</td>
                                <td>12.11.2012</td>
                                <td>
                                    <a class="btn btn-primary btn-sm open-connected">Odpri zunaj</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="corresponding-info" colspan="4">
                                            <div class="section">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td><strong>Lokacija: </strong>Nemčija</td>
                                                        <td><strong>Pred. strošek: </strong>1500€</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Termin od: </strong>12.12.2015</td>
                                                        <td><strong>do: </strong>21.12.2015</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><strong>Datum & kraj zadnjega
                                                            zaht.: </strong>12.01.2014 Avstralija
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><strong>Opis: </strong>Lorem ipsum dolor
                                                            sit amet, consectetuer adipiscing elit. Aenean
                                                            commodo ligula eget dolor. Aenean massa. Cum sociis
                                                            natoque penatibus et magnis dis parturient montes,
                                                            nascetur ridiculus mus. Donec quam felis, ultricies
                                                            nec, pellentesque eu, pretium quis, sem. Nulla
                                                            consequat massa quis enim. Donec pede justo,
                                                            fringilla vel, aliquet nec, vulputate eget, arcu. In
                                                            enim justo, rhoncus ut, imperdiet a, venenatis
                                                            vitae, justo. Nullam dictum felis eu pede
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Pregledan dne: </strong>12.12.2015</td>
                                                        <td><strong>s strani: </strong>Janeza Novaka</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                    </div>
                                </td>
                            </tr>

                            <tr class="collapsable" data-status="0">
                                <td><i class="glyphicon glyphicon-chevron-up small"></i> Amerika, IoT, Sillicon</td>
                                <td>Nalog</td>
                                <td>11.12.2012</td>
                                <td>
                                    <a class="btn btn-primary btn-sm open-connected">Odpri zunaj</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="corresponding-info" colspan="4">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="section">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td><strong>Lokacija: </strong>Nemčija</td>
                                                        <td><strong>Odobril: </strong>Janez Novak</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Namen: </strong>Konferenca</td>
                                                        <td><strong>Max stroški: </strong>1000€</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Termin: </strong>15.12.2015 - 16.12.2015
                                                        </td>
                                                        <td><strong>Opombe: </strong>N/A</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group clear no-margin">
                                                <label for="purpose">Namen in opis:</label>
                                                <textarea disabled class="form-control" rows="5" id="purpose">ICT konferenca v Munchnu, ki traja 3 dni. Znanje kasneje z workshop-om na podjetju predstavim ostalim kolegom.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 content-table smaller no-overflow">
                                            <div class="form-group clear no-margin">
                                                <label for="purpose">Pregled:</label>
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Tip storitve</th>
                                                        <th>Opombe</th>
                                                        <th>Cena (€)</th>
                                                        <th>Odobreno (€)</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>Prevoz z letalom</td>
                                                        <td>Economy class</td>
                                                        <td>150</td>
                                                        <td>150</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Prevoz z letališča</td>
                                                        <td>taxi</td>
                                                        <td>50</td>
                                                        <td>50</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Večerja v Pekiško mesto</td>
                                                        <td>večerja za 2</td>
                                                        <td>50</td>
                                                        <td>50</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Najem avtomobila</td>
                                                        <td>30€/dan</td>
                                                        <td>150</td>
                                                        <td>100 <i
                                                                class="glyphicon glyphicon-arrow-down alert-danger"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><strong>400 €</strong></td>
                                                        <td><strong>350 € <i
                                                                class="glyphicon glyphicon-arrow-down alert-danger"></i></strong>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/span-->

        </div>



    </div>
</div>

<div class="background-popup hidden" id="connected">
    <div class="floating-popup popup medium">
        <div class="container">
            <div class="content-inner">
                <div class="row popup-header">
                    <span class="title">Povezano - </span>Računovodstvo: zaključek
                    <a class="close-popup"><i class="title glyphicon glyphicon-remove-sign float-right"></i></a>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="content-inner">
                            <div class="content-table section msgs-corr">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr class="collapsable">
                                        <th><i class="glyphicon glyphicon-chevron-down small"></i> Zahtevek</th>
                                    </tr>
                                    <tr>
                                        <td class="corresponding-info">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="section">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <td><strong>Lokacija: </strong>Nemčija</td>
                                                                <td><strong>Pred. strošek: </strong>1500€</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Termin od: </strong>12.12.2015</td>
                                                                <td><strong>do: </strong>21.12.2015</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"><strong>Datum & kraj zadnjega
                                                                    zaht.: </strong>12.01.2014 Avstralija
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"><strong>Opis: </strong>Lorem ipsum dolor
                                                                    sit amet, consectetuer adipiscing elit. Aenean
                                                                    commodo ligula eget dolor. Aenean massa. Cum sociis
                                                                    natoque penatibus et magnis dis parturient montes,
                                                                    nascetur ridiculus mus. Donec quam felis, ultricies
                                                                    nec, pellentesque eu, pretium quis, sem. Nulla
                                                                    consequat massa quis enim. Donec pede justo,
                                                                    fringilla vel, aliquet nec, vulputate eget, arcu. In
                                                                    enim justo, rhoncus ut, imperdiet a, venenatis
                                                                    vitae, justo. Nullam dictum felis eu pede
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Pregledan dne: </strong>12.12.2015</td>
                                                                <td><strong>s strani: </strong>Janeza Novaka</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="collapsable">
                                        <th><i class="glyphicon glyphicon-chevron-down small"></i> Nalog</th>
                                    </tr>
                                    <tr>
                                        <td class="corresponding-info">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="section">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr>
                                                                <td><strong>Lokacija: </strong>Nemčija</td>
                                                                <td><strong>Odobril: </strong>Janez Novak</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Namen: </strong>Konferenca</td>
                                                                <td><strong>Max stroški: </strong>1000€</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Termin: </strong>15.12.2015 - 16.12.2015
                                                                </td>
                                                                <td><strong>Opombe: </strong>N/A</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group clear no-margin">
                                                        <label for="purpose">Namen in opis:</label>
                                                        <textarea disabled class="form-control" rows="5" id="purpose">ICT konferenca v Munchnu, ki traja 3 dni. Znanje kasneje z workshop-om na podjetju predstavim ostalim kolegom.</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 content-table smaller no-overflow">
                                                    <div class="form-group clear no-margin">
                                                        <label for="purpose">Pregled:</label>
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Tip storitve</th>
                                                                <th>Opombe</th>
                                                                <th>Cena (€)</th>
                                                                <th>Odobreno (€)</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>Prevoz z letalom</td>
                                                                <td>Economy class</td>
                                                                <td>150</td>
                                                                <td>150</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Prevoz z letališča</td>
                                                                <td>taxi</td>
                                                                <td>50</td>
                                                                <td>50</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Večerja v Pekiško mesto</td>
                                                                <td>večerja za 2</td>
                                                                <td>50</td>
                                                                <td>50</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Najem avtomobila</td>
                                                                <td>30€/dan</td>
                                                                <td>150</td>
                                                                <td>100 <i
                                                                        class="glyphicon glyphicon-arrow-down alert-danger"></i>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>400 €</strong></td>
                                                                <td><strong>350 € <i
                                                                        class="glyphicon glyphicon-arrow-down alert-danger"></i></strong>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>