
@import url("responsive-menu.css");

.main-container{
    margin: 30px 30px;
}

.navbar{
    margin: 0px;
}

.main-navbar{
    border: 1px solid #1e5799;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*background-color: #a6e1ec;*/

    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 9%, #7db9e8 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 9%,#7db9e8 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 9%,#7db9e8 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.btn > .main-btn{
    min-width: 110px;
}

.main-navbar .selected {
    border: 5px solid white;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 9%, #7db9e8 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 9%,#7db9e8 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 9%,#7db9e8 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;

}

.btn-default{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.float-right{
    float: right;
    margin-right: 30px;
}
.float-left{
    float: left;
    margin-left: 30px;
}
.float-left.finance{
    margin-left: 0px;
}

.content-inner{
    margin: 10px 10px 10px 10px;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.content-inner.map{
    height: 700px;
}
.map-header{
    margin: 10px 10px 10px 10px;
    color: white;
}
.map-checkbox{
    min-height: 20px;
    padding: 19px;
    color: #ffffff;
    font-size: 20px;

}

@media screen and (max-width: 1200px) {
    .map-checkbox{
        padding: 10px;
        color: #ffffff;
        font-size: 12px;

    }

}

.dashboard-portlet{
    border: 1px solid #1e5799;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 740px;
    /*max-height: 740px;*/

    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #207cca 9%, #7db9e8 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#207cca 9%,#7db9e8 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#207cca 9%,#7db9e8 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.dashboard-portlet.finance{
    /*border: 1px solid #222222;*/
    min-height: 700px;
    /*max-height: 700px;*/
}
/*.dashboard-portlet.left{*/
    /*margin-left: -15px;*/
/*}*/
/*.dashboard-portlet.right{*/
    /*margin-right: -15px;*/
/*}*/
.dashboard-portlet .header{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dashboard-portlet .header .title{
    font-size: 35px;
    display: inline-block;
}
.dashboard-portlet .header.left{
    text-align: left;
}

.header > .title{
    margin-left: 30px;
}


.dashboard-portlet .header .dropdown{
    display: inline-block;
}
.dashboard-content{
    margin-top: 10px;
}
.section.content-table{
    min-height: 400px;
    max-height: 400px;
    overflow: scroll;
    clear: both;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.section.content-table.msgs-corr{
    min-height: 500px;
    max-height: 500px;
}
.content-table.smaller{
    min-height: 200px;
    overflow: scroll;
}
.no-overflow{
    overflow: hidden !important;
}
.content-table.msgs{
    height: 700px;
    max-height: none;
}
.section.content-table.standing{
    min-height: 670px;
    max-height: 670px;
}
.section.content-table td{
    vertical-align: middle;
}
.section.content-table.status{
    min-height: 600px;
    max-height: 600px;
}

.currents tr td:nth-child(1), .status tr td:nth-child(1){
    width: 25%;
}
.currents tr td:nth-child(5){
    width: 90px;
}
.status tr td:nth-child(2){
    width: 180px;
}
.finance tr td:nth-child(4){
    width: 30px;
    text-align: center;
}
.finance tr td:nth-child(3){
    width: 120px;
}
.standing tr td:nth-child(5){
    font-size: 10px;
}

.standing-header > h2{
    color: #2e6da4;
}

.section{
    margin-top: 10px;
    border: 1px solid #777777;
    line-height: 50px;
}
.border-top{
    border: 0px;
    border-top: 1px solid #000000;
}
.section.footer{
    clear: both;
}
.footer .buttons{
    margin-left: 77%;
    margin-top: 10px;
}

.footer{
    margin-top: 10px;
}

.no-border{
    border: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.sub-header{
    height: 50px;
    line-height: 50px;
}
.sub-header .text{
    vertical-align: middle;
    font-size: 20px;
}
.check{
    margin-right: 15px;
}
.checkbox-button{
    margin-right: 10px !important;
}
.table .btn{
    horizontal-align: middle;
    display: block;
    margin:auto;
}
.content-table .table .btn.btn-sm{
    margin-top: 1px;
}

input[type=search] {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    line-height: normal;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
}


.header-addition{
    font-size: 30px;

    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #7db9e8 99%, #7db9e8 99%, #7db9e8 100%, #207cca 100%, #1e5799 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #7db9e8 99%,#7db9e8 99%,#7db9e8 100%,#207cca 100%,#1e5799 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #7db9e8 99%,#7db9e8 99%,#7db9e8 100%,#207cca 100%,#1e5799 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    min-width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    bottom: 0px;
    position: absolute;
    right: 15px;
}

.finance-head{
    position: relative;
}
.finance-menu-info{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.sum-price{
    font-size: 30px;
}

.web-search{
    margin-left: 10px;
    width: 100%;
}

.glyphicon-pencil.add{
    margin-right: 10px;
}

.search{
    margin: 0 10px 0 10px;
}


/*---- POPUPS ----*/
.background-popup {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.9);

    /*-webkit-filter: blur(7px);*/
    /*filter: blur(7px);*/
}

.popup {
    width: 90%;
    height: 500px;
    border-right: 3px solid gray;
    border-bottom : 3px solid gray;

    border-top: 1px solid black;
    border-left: 1px solid black;
    


    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 10px;

}

.popup.bigger{
    height: 800px;
}

.popup.medium{
    height: 600px;
}

.floating-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: #e0e0e0;
}

.invisible{
    display: none;
}

.popup .content-inner{
    background: none;
}


.popup .title{
    font-size: 30px;
    font-weight: bold;
}
.popup .title > .status{
    color: green;
}

.popup .section{
    width: 90%;
}

.form-group label{
    margin-top: 15px;
}

.content-inner > .popup-header{
    margin-top: 15px;
}

.date-left{
    width: 40%;
    margin-right: 0px;
    float: left;
}
.date-right{
    width: 40%;
    margin-right: 0px;
    float: right;
}

.clear{
    clear: both;
}

.content-table .summa{
    margin-left: 500px;
}

.legend{
    margin-top: 20px;
}

.sub-legend{
    margin-left: 20px;
    margin-bottom: 0px;
}

.header.smaller > .title{
    font-size: 20px;
    font-weight: normal;
}

.popup-portlet{
    min-height: 350px;
    max-height: 350px;
    overflow: scroll;
}
.popup-portlet.msg{
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
}

td[class="msg-content"][colspan="3"]{
    padding-left: 40px;
}

.tableInput{
    width: 100%;
}

.status table button[class*="open-request user"]{
    margin-left: 15px;
}
a[class*="trash-request"]{
    margin-right: 15px;
    color: #ac2925;
}
.unselected{
    color: #000000;
    background-color: transparent;
}



.logo{
     background: url(sprites.png) no-repeat;
 }

.logo{
    background-position: -14px -11px ;
    width: 401px;
    height: 68px;
    float: left;
    margin-right: 150px;
}

.welcome{
    float: right;
    margin-top: 25px;
}

.managment-request-btn{
    width: 48%;
    margin-right: 10px;
    margin-right: 10px;
}

.non-valid-input{
    border: 1px solid #b92c28;
}



/*RESPONSIVE*/

@media screen and (max-width: 1700px) {
    .logo{
        background-position: -14px -11px ;
        width: 401px;
        height: 68px;
        float: left;
        margin-right: 50px;
    }
}
@media screen and (max-width: 1500px) {
    .logo{
        background-position: -14px -11px ;
        width: 401px;
        height: 68px;
        float: left;
        margin-right: 50px;
    }
}
@media screen and (max-width: 768px) {
    .logo{
        background-position: -14px -11px ;
        width: 401px;
        height: 68px;
        float: left;
        margin-right: 50px;
    }
}
@media screen and (max-width: 480px) {
    .logo{
        width: 0px;
        height: 0px;
    }

    .dashboard-portlet .header .title{
        font-size: 15px;
    }

    .dashboard-portlet .header {
        height: 50px;
        line-height: normal;
        text-align: center;
    }

    .header > .title{
        margin: 0px;
    }

    .footer .buttons {
        margin-left: 6%;
        margin-top: 10px;
    }
    .popup{
        overflow: scroll;
        height: 350px;
    }
    .popup.bigger{
        height: 350px;
    }
}























