.main-container{
    margin: 30px 30px;
}

.main-navbar{
    border: 1px solid #000000;
    /*background-color: #a6e1ec;*/
}

.row .navbar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn > .main-btn{
    min-width: 110px;
}

.float-right{
    float: right;
    margin-right: 30px;
}
.float-left{
    float: left;
    margin-left: 30px;
}
.float-left.finance{
    margin-left: 0px;
}

.content-inner{
    margin: 10px 10px 10px 10px;
}

.dashboard-portlet{
    border: 1px solid #222222;
    min-height: 740px;
}
.dashboard-portlet.finance{
    border: 1px solid #222222;
    min-height: 700px;
}
.dashboard-portlet.left{
    margin-left: -15px;
}
.dashboard-portlet.right{
    margin-right: -15px;
}
.dashboard-portlet .header{
    border: 1px solid #222222;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dashboard-portlet .header .title{
    font-size: 35px;
    display: inline-block;
}
.dashboard-portlet .header.left{
    text-align: left;
}

.header > .title{
    margin-left: 30px;
}

.dashboard-portlet .header .dropdown{
    display: inline-block;
}
.dashboard-content{
    margin-top: 10px;
}
.section.content-table{
    min-height: 400px;
    overflow: scroll;
    clear: both;
}
.section.content-table td{
    vertical-align: middle;
}
.section.content-table.status{
    height: 600px;
}

.currents tr td:nth-child(1), .status tr td:nth-child(1){
    width: 25%;
}
.currents tr td:nth-child(5){
    width: 90px;
}
.status tr td:nth-child(2){
    width: 180px;
}
.finance tr td:nth-child(4){
    width: 30px;
    text-align: center;
}
.finance tr td:nth-child(3){
    width: 120px;
}

.section{
    margin-top: 10px;
    border: 1px solid #777777;
    line-height: 50px;
}
.border-top{
    border: 0px;
    border-top: 1px solid #000000;
}
.section.footer{
    clear: both;
}
.footer .buttons{
    margin-left: 74%;
    margin-top: 10px;
}

.footer{
    margin-top: 10px;
}

.no-border{
    border: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.sub-header{
    height: 50px;
    line-height: 50px;
}
.sub-header .text{
    vertical-align: middle;
    font-size: 20px;
}
.check{
    margin-right: 15px;
}
.checkbox-button{
    margin-right: 10px !important;
}
.content-table .table .btn{
    horizontal-align: middle;
    display: block;
    margin:auto;
}
.content-table .table .btn.btn-sm{
    margin-top: 1px;
}

input[type=search] {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    line-height: normal;
}
.header-addition{
    font-size: 30px;
    background-color: #c1e2b3;
    min-width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    bottom: 0px;
    position: absolute;
    right: 15px;
}

.finance-head{
    position: relative;
}
.finance-menu-info{
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 10px;
}

.sum-price{
    font-size: 30px;
}

.web-search{
    margin-left: 10px;
    width: 100%;
}




